@import './variables/variables';
@import './navbar/navbarStyles';

@import './fonts/fonts';

body{
  font-family: 'Open Sans', sans-serif;
  background-color: $bg;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}