:root{
  --homeBackgroundColor: rgb(12, 12, 12);
  --mainGreen: #00e0ab;
}

.projects{
  text-align: center;
  margin-bottom: 14px;
  display: grid;
  row-gap: 24px;
  justify-content: center;
  padding-top: 28px;
  grid-auto-columns: 230px;
}

.project{
  border-radius: 14px;
  box-shadow: 0 0 7px 2px rgba(255, 255, 255, .08%);
  width: 230px;
}

.project__image-container{
  width: 100%;
  padding: 14px;


  img{
    width: 80%;
    object-fit: cover;
    border-radius: 14px 14px 0 0;
    vertical-align: top;
  }
}

#countdown__image{
  width: 100%;
}

.project__info{
  width: 70%;
  text-align: start;
  padding: 14px 0;
  font-weight: 300;
  margin: 0 auto;
  
  
  h3{
    font-weight: 400;
    color: var(--mainGreen);
  }
}

.project__button-container{
  display: grid;
  row-gap: 8px;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 14px;
}

.project__a-button{
  color: black;
  text-decoration: none;
}

.project__button-container button, .seemore button{
  width: 180px;
  border: 3px solid black;
  border-radius: 48px;
  height: 40px;
  display: flex;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding: 0 18px;
  text-transform: uppercase;
  outline: none;
  font-size: 12px;
  transition-duration: 0.5s;
  
  svg:not(:root).svg-inline--fa{
    font-size: 18px;
  }

  &:hover{
    letter-spacing: 1px;
    box-shadow: 0px 4px 15px 1px #555;
  }
}

.see__project-button{
  background-color: var(--mainGreen);
}

.seemore{
  display: flex;
  justify-content: center;
  width: 100%;
}