<div class="notFound animate__animated animate__rubberBand">

  <div class="notfound__content">
    <div class="notfound__text">
      <h1>You look lost :c</h1>
      <h2>Go to Home <i class="fas fa-home"></i> and find the right path</h2>
    </div>

    <div class="seemore go__home">
      <a class="project__a-button seemore__a" href="#/" target="_blank">
        <button type="button" class="see__code-button">
          <p><i class="fas fa-home"></i> Home</p>
        </button>
      </a>
    </div>

  </div>
</div>