<div class="about">

  <div class="whoim">
    <h1 class="page__title">About me</h1>
    <h2 class="whoim__title title1">Who am I?</h2>

    <p>Im Roberto Cortés Monroy from Mexico, Mexico City, student at ESCOM (Escuela Superior de Computo) of IPN
      (Instituto
      Politecnico Nacional), currently I am dedicated to frontend, I love working with React js in the same way that I
      love layout designs and implement new technologies such as ES6+, SASS, webpack, etc.
    </p>

    <p>
      I also have a YouTube channel, where I do frontend things, you can visit it <a class="visit__it"
        href="https://www.youtube.com/channel/UCehw60DY3v3t5ez7mYIbYmQ" target="_blank">here.</a>
    </p>

    <p>
      I am currently learning JavaScript with NodeJs and Express to backend with JavaScript and become a full Stack
      developer.
    </p>
  </div>

  <h2 class="whoim__title">Tech Skills</h2>

  <div class="skills__wrapper animate__animated animate__fadeInUp">

    <div class="skills__container">

      <a class="whoim__skill-containers" href="https://reactjs.org/" target="_blank">
        <div>
          <div class="whoim__skill-icon reactjs__icon">
            <i class="fab fa-react"></i>
          </div>
          <p>React JS </p>
        </div>
      </a>

      <a class="whoim__skill-containers" href="https://www.javascript.com/" target="_blank">
        <div>
          <div class="whoim__skill-icon js__icon">
            <i class="fab fa-js"></i>
          </div>
          <p>JavaScript</p>
        </div>
      </a>

      <a class="whoim__skill-containers" href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
        <div>
          <div class="whoim__skill-icon css__icon">
            <i class="fab fa-css3-alt"></i>
          </div>
          <p>CSS</p>
        </div>
      </a>

      <a class="whoim__skill-containers" href="https://git-scm.com/" target="_blank">
        <div>
          <div class="whoim__skill-icon git__icon">
            <i class="fab fa-git-alt"></i>
          </div>
          <p>Git</p>
        </div>
      </a>

      <a class="whoim__skill-containers" href="https://sass-lang.com/" target="_blank">
        <div>
          <div class="whoim__skill-icon sass__icon">
            <i class="fab fa-sass"></i>
          </div>
          <p>SASS</p>
        </div>
      </a>

      <a class="whoim__skill-containers" href="" target="_blank">
        <div>
          <div class="whoim__skill-icon more__icon">
            <i class="fas fa-plus"></i>
          </div>
          <p>And more</p>
        </div>
      </a>

    </div>
  </div>

  <h2 class="whoim__title soft__skills-title">Soft Skills</h2>

  <ul class="soft__skills">
    <li class="soft__skills-item">Fast learning 🤓</li>
    <li class="soft__skills-item">Autodidact 📖</li>
    <li class="soft__skills-item">Liberal 😀</li>
    <li class="soft__skills-item">Empathic 🤝</li>
    <li class="soft__skills-item">Always learning 📚</li>
    <li class="soft__skills-item">Willing to teach 👨‍🏫</li>
  </ul>

  <div class="cv__buttons">
    <a href="https://docs.google.com/document/d/1SgLnSAFD6zahw1G8ScNJzWyVfVmrwNdL8MR53ncC_nc/edit?usp=sharing"
      class="project__a-button seemore" target="_blank">
      <button type="button" class="btn__about"><i class="fas fa-user-edit"></i>See my CV in
        English</button>
    </a>

    <a href="https://docs.google.com/document/d/1hHwEolx4e7fXgxiJmHTAW_rNOjo6NpWprVGx1dJ_Lko/edit?usp=sharing"
      class="project__a-button seemore" target="_blank">
      <button type="button" class="btn__about"><i class="fas fa-user-edit"></i>See my CV in
        Spanish</button>
    </a>
  </div>

  <div class="more__aboutme">

    <h2 class="whoim__title title1">More about me</h2>

    <section class="music">

      <p>
        I like a lot listen and play music, I started to play piano when I was 5 years old, currently I play 7
        instruments: <br />
      </p>
      <ul class="soft__skills instruments">
        <li class="soft__skills-item">Piano 🎹</li>
        <li class="soft__skills-item">Guitar 🎸</li>
        <li class="soft__skills-item">Bass 🎸</li>
        <li class="soft__skills-item">Vihuela 🪕</li>
        <li class="soft__skills-item">Ukelele 🎸</li>
        <li class="soft__skills-item">Recorder 🎼</li>
        <li class="soft__skills-item">Melodic 🎹</li>
      </ul>

      <p>
        I also have a YouTube channel where often I make covers and translate the music that I love, you can check it <a
          class="visit__it" href="https://www.youtube.com/channel/UCN1MFjyOHyJ03va3ydAf0Sg" target="_blank">here.</a>

        there you can find music of artists I like, for example, Radiohead, Jameson Buivier, Pink Floyd and more, go and
        check it by yourself!
      </p>
      <p>Also if you wanna colaborate with me and play music, make a video or some stuff related with music, you can
        contact me too!</p>
    </section>

    <section class="games">
      <p>
        I play videomages with frinds and often I do livestreams on my <a class="visit__it"
          href="https://www.youtube.com/channel/UCoaEo9mhshJYNb67i5hut-Q" target="_blank">YouTube gaming channel</a>
        and I make some videos about videogames I like.
      </p>
      <p>If you want to join to my videogames discord you can contact me, and play some stuff, or make a video together!
        and meet all the team toxic.
      </p>
      <br />
    </section>

  </div>
</div>
</div>
