<h1 class="page__title">About me</h1>

<div class="whoim">
  <h2 class="whoim__title">Who I am?</h2>
  <p>Im Roberto Cortés Monroy from Mexico, Mexico City, student at ESCOM (Escuela Superior de Computo) of IPN (Instituto
    Politecnico Nacional), currently I am dedicated to frontend, I love working with React js in the same way that I
    love layout designs and implement new technologies such as ES6 +, SASS, webpack, etc.
  </p>

  <p>
    I also have a YouTube channel which you can visit <a href="https://www.youtube.com/channel/UCehw60DY3v3t5ez7mYIbYmQ"
      target="_blank">here</a>
  </p>

  <p>
    I am currently learning JavaScript with NodeJs and Express to backend with JavaScript and become a full Stack
    developer
  </p>

  <h2 class="whoim__title">Tech Skills</h2>

  <a href="https://reactjs.org/" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fab fa-react"></i>
      <p>React JS </p>
    </div>
  </a>

  <a href="https://www.javascript.com/" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fab fa-js"></i>
      <p>JavaScript</p>
    </div>
  </a>

  <a href="https://developer.mozilla.org/es/docs/Web/CSS" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fab fa-css3-alt"></i>
      <p>CSS</p>
    </div>
  </a>

  <a href="https://git-scm.com/" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fab fa-git-alt"></i>
      <p>
        Git
      </p>
    </div>
  </a>

  <a href="https://sass-lang.com/" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fab fa-sass"></i>
      <p>
        SASS
      </p>
    </div>
  </a>

  <a href="" target="_blank">
    <div class="whoim__skill-icon">
      <i class="fas fa-plus"></i>
      <p>And more</p>
    </div>
  </a>

  <div class="cv__buttons">
    <a href="" class="project__a-button seemore" target="_blank">
      <button type="button" class="see__code-button"><i class="fas fa-user-edit"></i>Download my CV in English</button>
    </a>

    <a href="" class="project__a-button seemore" target="_blank">
      <button type="button" class="see__code-button"><i class="fas fa-user-edit"></i>Download my CV in Spanish</button>
    </a>

  </div>

</div>