<h1 class="page__title">Contact</h1>


<section class="contact">
  <h2 class="whoim__title talk__to-me">Talk to me</h2>
  <div class="u-wrapper">
    <div class="contact-content">

      <form id="form" action="" class="form animate__animated animate__rubberBand">
        <label for="name">Full name <span>*</span></label>
        <input name="name" required type="text" id="name" placeholder="Juan">
        <label for="email">email <span>*</span></label>
        <input name="email" type="text" id="email" required placeholder="juan@gmail.com">
        <label for="message">Message</label>
        <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
        <div class="cv__buttons">
          <button type="submit" class="see__project-button seemore btn__about send__email">
            <i class="far fa-paper-plane"></i>
            Send Message</button>
        </div>
      </form>
      <a href="mailto:me@leonidasesteban.com" id="trucazo">jojojoj</a>
    </div>
  </div>
</section>
</div>