<h1 class="page__title">Contact</h1>

<div class="contact__container">
  <form action="mailto:whoisbeto@gmail.com">
    <button class="whoim__skill-containers" type="submit">
      <div class="whoim__skill-icon email">
        <i class="far fa-envelope"></i>
      </div>
      <p>Send email</p>
    </button>
  </form>


  <a class="whoim__skill-containers" href="" target="_blank">
    <div>
      <div class="whoim__skill-icon more__icon">
        <i class="fas fa-plus"></i>
      </div>
      <p>And more</p>
    </div>
  </a>

  <a class="whoim__skill-containers" href="" target="_blank">
    <div>
      <div class="whoim__skill-icon instagram">
        <i class="fab fa-instagram"></i>
      </div>
      <p>Dm me</p>
    </div>
  </a>

</div>