<h1 class="page__title">Work Experience</h1>
<div class="projects animate__animated animate__fadeInUp">
  <div class="project">
    <div class="project__image-container">
      <img src="../images/tinkin.png" class="tinkin" alt="To do App image" />
    </div>
    <div class="project__info">
      <h3>Tinkin Tech partner - Full Stack developer</h3>
      <p>
        I've been working on Tinkin for 3 months where I used technologies such as
        <a class="visit__it" href="https://nextjs.org/" target="_blank">NextJS</a>
        ,
        <a class="visit__it" href="https://nestjs.com/" target="_blank">NestJS</a>,
        <a class="visit__it" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>,
        <a class="visit__it" href="https://www.atlassian.com/es/agile/scrum" target="_blank"
          >SCRUM</a
        >
        and more.
      </p>
      <span>April 2021 - July 2021</span>
    </div>
  </div>
  <div class="project project__right">
    <div class="project__image-container countdown__image-container">
      <img src="../images/htech.png" class="htech" alt="To do App image" />
    </div>
    <div class="project__info">
      <h3>Solutions Htech - Frontend Developer</h3>
      <p>
        This is the company where I work until now. I normaly use this technologies:
        <a class="visit__it" href="https://vuejs.org/" target="_blank">VueJS</a>
        ,
        <a class="visit__it" href="https://tailwindcss.com/" target="_blank">Tailwindcss</a>,
        <a class="visit__it" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>,
        <a class="visit__it" href="https://vitejs.dev/" target="_blank">ViteJS</a>
        and more.
      </p>
      <span>August 2021 - Today</span>
    </div>
  </div>
</div>

<h1 class="page__title animate__animated animate__fadeInUp">Projects</h1>
<div class="projects animate__animated animate__fadeInUp">
  <div class="project">
    <div class="project__image-container">
      <img src="../images/todos.png" alt="To do App image" />
    </div>

    <div class="project__info">
      <h3>To Do App</h3>
      <p>
        A website to create tasks complete and filter, if you close the app, your data will keep
        there!
      </p>
      <div class="project__button-container">
        <a
          target="_blank"
          class="project__a-button"
          href="https://youtube-react-todo-list.vercel.app/"
        >
          <button type="button" class="see__project-button">
            <p>See the project</p>
          </button>
        </a>
        <a
          target="_blank"
          class="project__a-button"
          href="https://github.com/who-Is-Beto/youtube-react-todo-list"
        >
          <button type="button" class="see__code-button">
            <i class="fab fa-github"></i>
            <p>See the code</p>
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="project project__right">
    <div class="project__image-container countdown__image-container">
      <img id="countdown__image" src="../images/flags.png" alt="Country list app image" />
    </div>

    <div class="project__info">
      <h3>Country list App</h3>
      <p>A web app to see all countries in the world and see all about them!</p>
      <div class="project__button-container">
        <a
          target="_blank"
          class="project__a-button"
          href="https://country-list-challenge.vercel.app/"
        >
          <button type="button" class="see__project-button">
            <p>See the project</p>
          </button>
        </a>
        <a
          target="_blank"
          class="project__a-button"
          href="https://github.com/who-Is-Beto/country-list-challenge"
        >
          <button type="button" class="see__code-button">
            <i class="fab fa-github"></i>
            <p>See the code</p>
          </button>
        </a>
      </div>
    </div>
  </div>

  <div class="project">
    <div class="project__image-container">
      <img id="todo" src="../images/ip-tracker.png" alt="whoIsBeto Ip Tracker" />
    </div>

    <div class="project__info">
      <h3>whoIsBeto Ip Tracker</h3>
      <p>
        An React app that will show you, in google maps, the addres of the IP address that you serch
        on.
      </p>
      <div class="project__button-container">
        <a target="_blank" class="project__a-button" href="https://ip-tracker-plum-six.vercel.app/">
          <button type="button" class="see__project-button">
            <p>See the project</p>
          </button>
        </a>
        <a
          target="_blank"
          class="project__a-button"
          href="https://github.com/who-Is-Beto/ip-tracker"
        >
          <button type="button" class="see__code-button">
            <i class="fab fa-github"></i>
            <p>See the code</p>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<h2 class="seemore__title">Do you want to see more?</h2>
<div class="seemore">
  <a class="project__a-button seemore__a" href="https://github.com/who-Is-Beto/" target="_blank">
    <button type="button" class="see__code-button">
      <i class="fab fa-github"></i>
      <p>Visit my GitHub</p>
    </button>
  </a>
</div>
