<div class="projects">

  <div class="project">
    <div class="project__image-container">
      <img src="https://live.staticflickr.com/65535/50824925658_700a9fac20_b.jpg" alt="project image" />
    </div>

    <div class="project__info">
      <h3>Rick and Morty app v2</h3>
      <p>A websate where ypu can see, add to favorites and delete some Rick and Morty characters!</p>
    </div>
    <div class="project__button-container">

      <a class="project__a-button" href="https://who-is-beto.github.io/rick-and-morty-hooks/">
        <button type="button" class="see_project-button">
          <p>See the project</p>
        </button>
      </a>
      <a class="project__a-button" href="https://github.com/who-Is-Beto/rick-and-morty-hooks">
        <button type="button" class="see__code-button"><i class="fab fa-github"></i>
          <p>See the code</p>
        </button>
      </a>
    </div>



  </div>