header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(58, 58, 58);
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 14px;
  align-items: center;
}

#title__nav, .nav__options{
    font-family: 'Roboto Mono';
    color: white;
    transition-duration: 0.5s;
    text-decoration: none;
    transition-duration: 0.5s;
}

#logo{
  text-decoration: none;
}

#title__nav{
  font-size: 24px;
  text-decoration: none;

  &:hover{
    letter-spacing: 3px;
  }
}



.nav__options:hover{  
  text-decoration: underline;
}

#nav__items ul{
  list-style: none;
  display: flex;
  padding-left: 0;

  li{
    margin: 0 8px;
  }
}
