#contact{
  width: 100%;
  height: 100vh;
}

.contact__content{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form__container{
  padding: 0 16px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__talk{
  color: var(--mainGreen);

  span{
    font-size: 18px;
  }
}

.form {
  max-inline-size: 550px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}
.form textarea {
  margin-block-end: 0.5em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}


.contact {
  margin-block-end: 5em;
  padding-top: 10vh;
}

.footer {
  text-align: center;
}

#trucazo {
  opacity: 0;
}

.u-wrapper {
  max-inline-size: 1232px;
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 768px){
  .talk__to-me{
    text-align: center;
  }

  .form button, .seemore__a {
    transform: scale(1.4);
  }
}
