:root{
  --homeBackgroundColor: rgb(12, 12, 12);
  --contentBorderColor: rgba(168, 168, 168, 0.712);
}

#home{
  background-color: var(--homeBackgroundColor);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__content{
  width: 230px;
  padding: 18px;
  text-align: center;
  border: 3px solid var(--contentBorderColor);
  margin-bottom: 8em;
  border-radius: 12px;
}