:root{
  --homeBackgroundColor: rgb(12, 12, 12);
  --contentBorderColor: rgba(168, 168, 168, 0.712);
  --mainGreen: #00e0ab;
}

#home{
  background-color: var(--homeBackgroundColor);
  height: 100%;
  width: 100%;
}

.home{
  display: flow-root;
  padding-top: 20vh;
  text-align: center;
  height: 100vh;
}

.home__text strong{
  color: var(--mainGreen);
}

.home__content{
  padding: 0 14px;
}

.home__image-container{
  height: 250px;
  margin-bottom: 18px;

  img{
    border-radius: 50%;
    width: 250px;
  }
}