/*------------- GLOBALS ------------*/
$bg: #f0f0f0;
$normalText1: #505050;
$normalText2: #bdbdbd;


/*------------- NAVBAR ------------*/
$nav__item: rgb(180, 179, 179);
$nav__item2: rgba(107, 105, 105, 0.904);

/* ---------- CONTENT ------------ */

$Background__text: #7b7a7a;
$Background__text2: white;

/* ---------- BUTTONS ------------ */

$btnBorder: white;

/* ---------- ABOUT ------------ */

/* ---------- PROJECT ------------ */

$ProjectCard1: #ffffff;
$widthCard: 204px;

/* ---------- FOOTER ------------ */

$footerBckgr1: #d6d6d6be;


