:root{
  --footerBackground: rgb(29, 29, 29);
}

footer{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--footerBackground);
}

.footer__wrapper{
  height: 100%;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.footer__social-media{
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;

  a{
    color: white;
    font-size: 24px;
    transition-duration: 0.5s;
    width: 35px;
    height: 35px;

    &:hover{
      transform: scale(1.8) rotateX(180deg) rotateY(180deg);
    }
  }
}

.youtube:hover{
  color: #ff0000;
}

.instagram:hover{
  color: #c324be;
}

.facebook:hover{
  color: #1873eb;
}

.github:hover{
  color: #28b162;
}

.footer__message{
  width: 100%;

  p{
    font-size: 14px;
  }
}