:root{
  --footerBackground: rgb(29, 29, 29);
  --GitHubColor: #28b162;
  --instagram: #c324bea1;
  --linkedIn: #0077b0;
}

footer{
  display: grid;
  align-items: center;
  margin-left: 35px;
  width: calc(100% - 35px);
  justify-content: center;
  padding: 12px;
  background-color: var(--footerBackground);
}

.footer__wrapper{
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.footer__social-media{
  display: flex;
  justify-content: space-around;
  margin-bottom: 12px;
  max-width: 500px;
  margin: 0 auto 18px;

  a{
    color: white;
    font-size: 24px;
    transition-duration: 0.5s;
    width: 35px;
    height: 35px;

    &:hover{
      transform: scale(1.8) rotate(180deg);
    }
  }
}

.youtube:hover{
  color: #ff0000;
}

.instagram:hover{
  color: var(--instagram);
}

.facebook:hover{
  color: #1873eb;
}

.github:hover{
  color: var(--GitHubColor);
}

.in:hover{
  color: var(--linkedIn);
}

.footer__message{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 18px;

  p{
    font-size: 14px;
  }
}