:root{
  --iconContainerBg: rgb(58, 58, 58);
  --iconContainerBgHover: rgb(98, 98, 98);
  --reactColor: aqua;
  --jsColor: rgb(239, 216, 29);
  --cssColor: #3194f7;
  --gitColor: #e84e31;
  --sassColor: #c76494;
}

#about, #projects{
  max-width: 1024px;
}

.whoim, .more__aboutme{
  padding: 0 32px;
  display: grid;
  row-gap: 12px;
  padding-bottom: 18px;
}

.whoim{
  position: relative;
  background: linear-gradient(
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.55)
  ),url('https://live.staticflickr.com/65535/50960918981_3a3b47cdfa_h.jpg') ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.whoim__title{
  color: var(--mainGreen);
  padding-left: 16px;
}

.title1{
  position: relative;
  left: -16px;
  margin-left: -16px;
}

.visit__it{
  color: var(--mainGreen);
}

.skills__container{
  display: grid;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin: 16px 0;
  grid-template-columns: repeat(auto-fit, 100px);
}


.whoim__skill-containers{
  color: white;
  background-color: var(--iconContainerBg);
  border-radius: 8px;
  height: 100px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  padding-top: 17.5px;
  transition-duration: 0.5s;
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover{
    background-color: var(--iconContainerBgHover);

    .reactjs__icon{
      transform: rotate(90deg);
      color: var(--reactColor);
    }
    
    .js__icon{
      transform: rotate(360deg);
      color: var(--jsColor);
    }
    
    .css__icon{
      transform: rotate(360deg);
      color: var(--cssColor);
    }
    
    .git__icon{
      transform: rotate(-45deg);
      color: var(--gitColor);
    }
    
    .sass__icon{
      transform: rotate(360deg);
      color: var(--sassColor)
    }
    
    .more__icon{
      transform: rotate(180deg);
      color: var(--mainGreen);
    }
  }
}

.whoim__skill-icon{
  transition-duration: 0.5s;
  font-size: 30px;
}

.soft__skills{
  padding: 0 32px;
  margin: 18px 0;
  width: 100%;
  display: grid;
  align-items: center;
}

.soft__skills-item{
  list-style: none;
}

.instruments{
  padding: 0;
}

.cv__buttons{
  display: grid;
  row-gap: 4px;
  justify-content: center;
  margin: 14px 0;
  align-items: center;
}

@media screen and (min-width: 425px){
  .cv__buttons{
    display: flex;
  }
  
  .soft__skills {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    grid-template-columns: repeat(3, 100px);
  }

  .btn__about{
    margin: 0 8px;
  }

  .soft__skills-title{
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  .cv__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8em;

  }

  .soft__skills{
    grid-template-columns: repeat(3, 200px);
  }
}