#about{
  background-image: url('../images/backgrounds/A B O U T M E.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid red;

  height: 100%;
  width: 100%;
}

