#about{
  background-image: url('../images/backgrounds/A B O U T M E.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 100vh;
  height: 100vh;
  border: 1px solid red;
}

.image__container{
  width: 350px;
}

.image__container img{
  width: 350px;
}

